main{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

main .top{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
main .top .right{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}
main .top .right textarea{
  width: 300px;
  height: 150px;
  resize: none;
}

main .bottom{
  display:flex;
}